{#
*
* @package dcbase
* @copyright (c) 2017 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% import '@template/macros.twig' as util %}

{% set content_owner = 'Hublist Project' %}
{% set page_subtitle = 'Placeholder' %}

{% set git_base_url = false %}

{% set git_info = git_info(_self) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## {{ content_owner }}

			The hublist project is an affiliate project of the {{ default_owner }}, and its purpose is to improve the DC network by improving the information about access to hubs.

			{% endmarkdown %}

			</div>
		</div>

		<div class="pagebreak"> </div>

		<div class="row marketing">
			<div class="col-lg-6">

				{% markdown %}
				#### DCHublist.com

				...Description...

				[Live hublist]({{ make_url('http://dchublist.com/hublist.xml.bz2') }}) ([Cached 1]({{ make_url('/cached/dchublist.com.cached1.xml.bz2') }}), [Cached 2]({{ make_url('/cached/dchublist.com.cached2.xml.bz2') }}))

				[Website]({{ make_url('DCHublist.com') }})

				#### Hublist.eu

				European ADCS Filesharing Network

				[Live hublist]({{ make_url('http://hublist.eu/hublist.xml.bz2') }}) ([Cached 1]({{ make_url('/cached/Hublist.eu.cached1.xml.bz2') }}), [Cached 2]({{ make_url('/cached/Hublist.eu.cached2.xml.bz2') }}))

				[Website]({{ make_url('Hublist.eu') }})

				{% endmarkdown %}

			</div>
			<div class="col-lg-6">

				{% markdown %}
				#### Hublista.hu

				...Description...

				[Live hublist]({{ make_url('http://www.hublista.hu/hublist.xml.bz2') }}) ([Cached 1]({{ make_url('/cached/Hublista.hu.cached1.xml.bz2') }}), [Cached 2]({{ make_url('/cached/Hublista.hu.cached2.xml.bz2') }}))

				[Website]({{ make_url('Hublista.hu') }})
				{% endmarkdown %}

			</div>
		</div>
{% endblock %}
